<div class="project-form">
    <form action="/projects" method="post">
        <h2 class="form-heading">Create a new project</h2>
        <fieldset>
            <legend><span class="number">1</span>Describe the project</legend>
            <label for="title">Project Name</label>
            <input type="text" id="title" name="project_title">
            <label for="description">Description:</label>
            <textarea id="description" name="project_description"></textarea>
            <label>Priority:</label>
            <input type="radio" id="low" value="low" name="project_priority"><label for="low" class="light">Low</label><br/>
            <input type="radio" id="medium" value="medium" name="project_priority"><label for="medium" class="light">Medium</label><br/>
            <input type="radio" id="high" value="high" name="project_priority"><label for="high" class="light">High</label><br/>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional information</legend>
            <label for="status">Status:</label>
            <select id="status" name="project_status">
                <option value="new">New</option>
                <option value="in-progress">In Progress</option>
                <option value="closed">Closed</option>
            </select>
            <label for="id">Project Owner:</label>
            <input type="text" id="id" name="project_owner">
            <label for="submitter">Submitted by:</label>
            <input type="text" id="submitter" name="submitted_by">
        </fieldset>
        <button type="submit" class="issueform-submitbtn">Submit</button>
    </form>
</div>

