<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debooger</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <ul class="navigation">
      <li class="nav-links logo"><a href="/" class="fa fa-bug">  Debooger</a></li>
      <li class="nav-links"><a class="logout-btn" href="#">Log out</a></li>
      <li class="nav-links"><a class="nav-add-proj-btn" href="#">Add Project</a></li>
      <li class="nav-links"><a class="nav-add-issue-btn" href="issues/new">Add Issue</a></li>

    </ul>
  </div>
  
  <div class="sidebar">
    <a href=""><i class="fa fa-fw fa-columns"></i> Dashboard</a>
    <a href=""><i class="fa fa-fw fa-code"></i> Projects</a>
    <a href=""><i class="fa fa-fw fa-bug"></i> Issues</a>
    <a href=""><i class="fa fa-fw fa-users"></i> Users</a>
  </div>
  
  <main>
   <%= yield %>
  </main>
  
</body>
</html>
