<body class="login-page-body">
    <div class="box">
    <h2>Welcome to Debooger</h2>
    <h3>Project and Issue Tracking</h3>
    <form action="/sessions" method="post">
        <div class="inputBox">
            <input type="text" name="email" required="">
            <label for="">Email</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="">
            <label for="">Password</label>
        </div>
        <input type="submit" name="" value="Submit">
    </form>
    </div>    
</body>

