<body class="login-page-body">
    <div class="box">
    <h1 class="fa fa-bug login-page-buglogo"><span class="login-page-title"> Debooger</span></h1>
    <p>Debooger is a web application designed to help teams record and track bugs in their software.</p>
    <form action="/sessions" method="post" class="login-form">
        <div class="inputBox">
            <input type="text" name="email" required="">
            <label for="">Email</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required="">
            <label for="">Password</label>
        </div>
        <input type="submit" name="" value="ADMIN LOGIN">  
    </form>
    <p>No authentication needed for Demo login. Demo users are not allowed to add, edit or delete any items.</p>
    <form action="/sessions/demo" method="post" class="demo-login">
        <input type="submit" name="demo-login" value="Demo LOGIN">
    </form>
    <div><span> &#169</span> Designed and Built by Naveen Mehta</div>
    </div>    
</body>



