/* Page content */

main {
    margin-left: 220px; 
    padding: 0px 10px;
}

/* Navigation */

.navigation {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
  
.logo {
    float: left;
}

.nav-links a {
    display: block;
    color: rgb(48, 47, 47);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logout-btn {
    float: right;
    background: rgba(11, 21, 169, 0.92);
    color: whitesmoke !important;
}

.nav-links a:hover {
    background-color: rgba(2, 23, 74, 0.646);
    color: whitesmoke;
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    background-color: rgba(11, 21, 169, 0.92);
    overflow-x: hidden;
    padding-top: 70px;
}
  
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}

.sidebar a:hover {
    color: #8f8b8b;
}
    
  