
body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

/* Navigation */

header {
    height: 5%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navigation {
    list-style-type: none;
    margin: 0 -7px;
    padding: 5px;
    overflow: hidden;
    background-color: #f3f3f3;
}
  
.logo {
    float: left;
    margin: 0.5% 0% 0.5% 0%;
    font-size: 20px;
}

.nav-links a {
    display: block;
    color: rgb(48, 47, 47);
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

.logout-btn {
    float: right;
    background: rgb(224 134 1);;
    color: whitesmoke !important;
    margin: 0.5% 2% 0.5% 0%;
    border-radius: 5px;
}

.sign-out {
  background: bottom;
  border: none;
  padding-left: inherit;
  color: navajowhite;
}

.nav-links a:hover {
    background-color: rgba(2, 23, 74, 0.646);
    color: whitesmoke;
}

.nav-add-proj-btn {
    float: left;
    background:#4bc970;
    color: whitesmoke !important;
    margin: 0.5% 1% 0.5% 99px;
    border-radius: 5px;
}

.nav-add-issue-btn {
    float: left;
    background:#4bc970;
    color: whitesmoke !important;
    margin: 0.5% 0% 0.5% 0.5%;
    border-radius: 5px;
}

/* Sidebar */

.sidebar {
    margin-top: 63px;
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    background-color: rgb(0 116 241);
    overflow-x: hidden;
    padding-top: 70px;
}
  
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}

.sidebar a:hover {
    color: #8f8b8b;
}

/* Dashboard Page */

.dashboard {
    padding: 100px 10px 10px 220px;
    color: black !important;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}

.projects-container, .issues-container {
  background: #e0e0e033;
}

.list-container {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  max-width: 450px;
}

.list-contents {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  background:white;
  color: #674a4e;
  padding-left: 20px;
  margin: 20px;
}

/* Issues - new issue form */
.issue-form {
    padding-top: 90px;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 50px 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin: 0 4px 8px 0;
}

select {
  width: 260px;  
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.issueform-submitbtn {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 30%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 20px;
  margin-left: 14px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 1000px;
  }
}

.form-heading {
    color: #505254;
    padding: 10px;
}

/* All issues page */

.table {
    margin-top: 100px;
    width: 95% !important;
    border-collapse: separate !important;
}

.fixed-table-container {
    margin-left: 220px;
    /* margin-top: 100px; */
}

.delete-icon {
    background: none;
    padding: 0 0 0 10px;
}

.edit-icon {
    padding-left: 21px !important;
}

/* Create project page */

.project-form {
    padding-top: 90px;
}

/* Login page */

.login-page-body {
  background: rgb(238 245 255);
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  height: 500px;
  width: 400px;
	padding: 40px;
	background: rgb(0 116 241);
	box-sizing: border-box;
	box-shadow: 0 38px 56px rgba(20,20,20,0.7);
	border-radius: 10px;
}
.box h2, .box h3 {
	margin: 0 0 30px;
	padding: 0;
	color: #FFF;
	text-align: center;
}

.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: grey;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: grey;
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad{
    0%{
        transform: rotate(0) translateY(-19px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
.box .inputBox input:focus ~ label, 
.box .inputBox input:valid ~ label {
	top: -19px;
	left:0;
	color: #03A9F4;
	font-size: 12px;
}
.box input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}
@media(max-width: 720px){
	.box {
		width: 80%;
	}
}